# Byte-compiled
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.installed.cfg
MANIFEST

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# VSCode project settings
.vscode/