docutils==0.14
easydict==1.9
h5py==2.8.0
heapdict==1.0.0
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.6
json5==0.8.4
matplotlib==3.0.2
numpy==1.15.4
numpydoc==0.8.0
packaging==19.0
pep8==1.7.1
ply==3.11
protobuf==3.9.1
ptyprocess==0.6.0
py==1.8.0
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
PyYAML==5.1.1
ruamel-yaml==0.15.46
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
toolz==0.10.0
torch==1.2.0
torchvision==0.4.0